
body {
    font-family: 'Montserrat', sans-serif;;
    line-height: 1.6;
    color: #d5b892;
    margin: 0;
    padding: 0;
  }
  

  .header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  
  .header h1 {
    font-size: 28px;
    margin-bottom: 10px;
  }
  
  .header p {
    font-size: 16px;
  }
  
 
  .main {
    text-align: center;
    margin: 30px 0;
  }
  
  .main img {
    max-width: 100%;
    height: auto;
  }
  

  .footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  
  .footer h2 {
    font-size: 20px;
  }
  
  /* Responsividade */
  @media only screen and (max-width: 768px) {
    /* Alterar tamanho do texto no Header para telas menores */
    .header h1 {
      font-size: 24px;
    }
  
    .header p {
      font-size: 14px;
    }
  
    /* Centralizar a imagem da Main em telas menores */
    .main {
      text-align: center;
    }
  }
  
  /* Estilos para telas ainda menores (smartphones) */
  @media only screen and (max-width: 480px) {
    /* Alterar tamanho do texto no Header para smartphones */
    .header h1 {
      font-size: 20px;
    }
  
    .header p {
      font-size: 12px;
    }
  
    /* Reduzir o tamanho da imagem na Main para smartphones */
    .main img {
      max-width: 80%;
    }
  }
  